<div class="container">

  <%= form_tag update_article_url(id: @article.id), method: :PUT do %>
    <div class="form-group">
      <label for="title">Title</label>
      <%= text_field_tag "title", @article.title, id: "title", class: "form-control"  %>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <%= text_area_tag "description", @article.description, id: "description", class: "form-control"  %>
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <%= text_field_tag "link", @article.link, id: "link", class: "form-control"  %>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

</div>
