<div class="container">

  <%= form_tag update_article_url(id: @article.id, method: :post) do %>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control form-control-lg" type="text" id="title" value="<%= @article.title %>" placeholder="Title goes here">
    </div>
    <div class="form-group">
      <label for="description">Desciription</label>
      <input class="form-control" type="text" id="description" value="<%= @article.description %>" placeholder="Short description">
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <input class="form-control form-control-sm" type="text" id="link" value="<%= @article.link %>" placeholder="Add a link">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

</div>
